    .checker {
        background-color: rgb(189, 188, 188);
        background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    }

    .figure {
        display: block;
        margin: 0 auto;
        height: 100%;
    }

    .loading {
        /* display: block;
        margin: 0 auto;
        height: 200px; */
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px; /* Half the height */
        margin-left: -100px; /* Half the width */

    }

    .zoyo-footer{
        height: 50px; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .invisible-buttons{
        border: 0;
        background-color: transparent;
    }

    .icon{
        height: 35px;
    }